body {
    font-size: 6em;
    text-align: center;
    margin: 0 auto;
    max-width: 1440px;
}

.count ,.score{
    margin: 0;
    font-weight: bold;
    color:#888;
}

.wrap {
    margin-top: 20px;
    padding: 80px 40px;
    background-color: #666;
    font-weight: bold;
    color: white;
}

.typed {
    color: lightgreen;
}

.mistyped {
    background-color: red;
}